// background
$bg: #000000;

// main colors 
$main-100: #2DC24E;

// primary colors
$primary: #363636;

// text colors 
$text-100: #DFDFDF;
$text-80: #EEEEEE;

// text primary
$text-primary: #57CE71;
$text-inner: #1E1E1E;

