@import "../../shared/styles/vars.scss";

.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.item {
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 300;
   font-style: normal;

   line-height: 150%;

   text-decoration: none;

   cursor: pointer;

   transition: 0.2s ease;

   &:hover {
      color: $text-80;
   }
}

.itemsWrapp {
   margin: 10px;
   a {
      text-decoration: none;
      color: $text-100;
   }
}

@media screen and (max-width: 660px) {
   header {
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
}

@media screen and (max-width: 410px) {
   .item {
      font-size: 14px;
   }
   button {
      padding: 8px 10px !important;
   }
}

@media screen and (max-width: 375px) {
   .item {
      font-size: 12px;
   }
}

@media screen and (max-width: 340px) {
   .item {
      font-size: 11px;
   }
}
@media screen and (max-width: 322px) {
   .item {
      font-size: 10px;
   }
}
